services:
  web:
    container_name: web
    build: ./
    # ports:
    #   - "8000:8000"
    expose:
      - "8000"
    environment:
      DB__USER: ${DB_USER}
      DB__PASSWORD: ${DB_PASSWORD}
      DB__HOST: database
      DB__PORT: 5432
      DB__NAME: ${DB_NAME}
      APP__SECRET_KEY: ${APP_SECRET_KEY}
      APP__PERMANENT_SESSION_LIFETIME: ${APP_PERMANENT_SESSION_LIFETIME}
    depends_on:
      database:
        condition: service_healthy

  database:
    image: postgres:18-alpine
    container_name: database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5433:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d:ro
      - database_data:/var/lib/postgresql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}" ]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./src/presentation/static:/web/static:ro # если есть статика
    depends_on:
      - web
    restart: unless-stopped

volumes:
  database_data:
